<!DOCTYPE html>

{% load static %}

<html style="height: 100%">
  <head>
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" >

    <title>
      {% block title %}
      {% endblock %}
    </title>
    {% include 'style.css' %}
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
  </head>
  <body style="display: flex; flex-direction: column; min-height: 100%; width:fit-content;">
    <nav class="navbar navbar-light bg-secondary">
      <span class="navbar-text text-white">Welcome, {{ request.session.username }}!</span>

      <span class="navbar-brand mb-0 h1 mx-auto text-white">5 Axis Shipping Terminal</span>

      <button class="logout-btn" type="submit" onclick="location.href='{% url 'logout' %}'">Logout</button>
    </nav>

    <div style="display: flex; flex-direction: column" class="container-fluid flex-grow-1 px-0">
      <div style="display: flex" class="flex-grow-1">
        {% include 'sidebar.html' %}

        <main role="main" class="px-4 flex-grow-1" style="padding: 20px">
          {% block content %}
            <h2>Loading</h2>
          {% endblock %}
        </main>
      </div>
    </div>

    <script>
      function changeSrc(url) {
        document.getElementById('contentIframe').src = url
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </body>
</html>
