{% extends 'base.html' %}
{% load static %}
{% block title %}
  Orders - MDExam
{% endblock %}

{% block content %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
  <div>
    <h4>BULK SHIP</h4>

    <form class="orders-form" style="flex-wrap: wrap;">
      <div class="form-section">
        <div class="form-fields">
          <label for="start-date">Start Date:</label>
          <input type="date" id="start-date" name="start-date" onchange="validateDate()" />
        </div>

        <div class="form-fields">
          <label for="end-date">End Date:</label>
          <input type="date" id="end-date" name="end-date" onchange="validateDate()"/>
        </div>
        
        {% if request.session.role == 'super_admin' %}
        <div class="form-fields">
           <label for="pharmacy-select">Pharmacies:</label>
           <select id="pharmacy-select"></select>
        </div>
      
      </div>
      <div class="new-line"></div>
      <div class="form-section">
        {% endif %}
        
        <div class="form-fields">
          <label for="drug-options">Drugs:</label>
          <select id="drug-options" onchange="fetchAllOrdersData()"></select>
        </div>


        <button class="btn btn-primary text-white" type="submit" id="submit-button" onclick="fetchAllOrdersData(event)" style="margin-top: 18px;">Search</button>
      </div>



    </form>

    <div>
      <button class="no-print base-btn" id="bulk-ship-button" onclick="bulkShipFunction('{{request.session.role}}')" >Generate All Labels</button>
      <button class="no-print base-btn" id="bulk-print-button" onclick="bulkPrintFunction('{{request.session.role}}')" >Print All Labels</button>
      <button class="no-print base-btn" id="bulk-print-button2" onclick="bulkPrintWithPrescriptionFunction('{{request.session.role}}')" >Print All Labels with Prescriptions</button>
    </div>


    <div class='progress-wrapper'>
      <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%; margin-top: 25px;">&nbsp;</div>
    </div>
    <div id="progress-bar-message" style="display: none;">Waiting for progress to start...</div>
    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>

    </div>

    <div id="spinner" style="display: none; justify-content: center; align-items: center; height: 10px; flex-direction: column; display: none;">
      <img src="https://i.pinimg.com/originals/3e/f0/e6/3ef0e69f3c889c1307330c36a501eb12.gif" alt="Loading..." style="width: 40px; height: 40px;">   
      <p>Processing orders</p>
    </div>

    <div class="paginator">
      <p id="pageInfo"></p>
      <div class="paginator-controls">
        <button id="prevPage">Previous Page</button>
        <button id="nextPage">Next Page</button>
      </div>
    </div>
  


    <table id="ordersTable" class="mytable">
      <!-- Table content goes here -->
    </table>

    
  </div>
  <script>
    function validateDate() {
    var startDate = document.getElementById('start-date').value;
    var endDate = document.getElementById('end-date').value;
    if (endDate < startDate) {
        alert('End date should be greater than or equal to start date');
        document.getElementById('end-date').value = startDate;
    }
  }
  </script>

  

  <script>
    window.onload = function () {
      document.getElementById('progress-bar-message').style.display = 'none';
      var today = new Date().toISOString().split('T')[0]
      var date = new Date()
      date.setDate(date.getDate() - 7)
      var weekAgo = date.toISOString().split('T')[0]
      document.getElementById('start-date').value = weekAgo
      //document.getElementById('start-date').value = today;
      document.getElementById('end-date').value = today

      fetchDrugOptions();
      fetchAllPharmacies();
      fetchAllOrdersData();
    }
  </script>

<script>
  function fetchDrugOptions() {
    // Fetch drugs from your server
    fetch('/pharmacy/fetch_drug_options/')
      .then((response) => response.json())
      .then((data) => {
        var select = document.getElementById('drug-options')

        // Add "All" option
        var allOption = document.createElement('option')
        allOption.value = ''
        allOption.text = 'All'
        allOption.selected = true
        select.prepend(allOption)

        data.forEach(function (status) {
          var option = document.createElement('option')
          option.value = status
          option.text = status
          select.add(option)
        })
      })
  }


</script>

<script>
  function fetchAllPharmacies() {
      var select = document.getElementById('pharmacy-select');
      if (select === undefined || select === null) {
          return;
      }

      fetch('/pharmacy/fetch_all_pharmacies/')
          .then((response) => response.json())
          .then((result) => {
              console.log(result);

              // Add "All" option
              var allOption = document.createElement('option');
              allOption.value = '';
              allOption.text = 'All';
              select.add(allOption);

              result.data.forEach(function (pharmacy) {
                  var option = document.createElement('option');
                  option.value = pharmacy.pharmacyId;
                  option.text = pharmacy.name;
                  select.add(option);
              });
          });
  }
</script>

<script>
  function bulkShipFunction(requestSessionRole) {
    var spinner = document.getElementById('spinner');
    spinner.style.display = 'flex'; // Show the spinner
    var progressBarMessage = document.getElementById('progress-bar-message');
    progressBarMessage.style.display = 'initial';
    var drugs = document.getElementById('drug-options').value
    var startDate = document.getElementById('start-date').value
    var endDate = document.getElementById('end-date').value

    // if pharmacy filter is hidden in case of pharmacy_admin, send null
    var pharmacy_id = null;
    if (requestSessionRole == 'super_admin') {
      var pharmacy = document.getElementById('pharmacy-select');
      if (pharmacy === undefined || pharmacy === null || pharmacy.value === undefined || pharmacy.value === null || pharmacy.value === '') {
        alert('Please select a pharmacy to continue');
        spinner.style.display = 'none'; // Hide the spinner
        progressBarMessage.style.display = 'none';
        return;
      }
      pharmacy_id = pharmacy.value;
    }

    var userInput = prompt("Please enter your name:");
    if (userInput === null || userInput.trim() === '') {
      alert("No name provided");
      spinner.style.display = 'none'; // Hide the spinner
      progressBarMessage.style.display = 'none';
      return;
    }
    fetch('/pharmacy/bulk_ship_orders/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({startDate: startDate, endDate: endDate, personalCode :userInput, drugs:drugs, pharmacy: pharmacy_id})
    })
      .then((response) => response.json())
      .then((data) => {
        var parsedData = data
        console.log('parsedData:', parsedData)
        
        $(function () {
          var progressUrl = "{% url 'celery_progress:task_status' 'task_id' %}"
          var progressUrl = progressUrl.replace("task_id", parsedData.task_id)
          CeleryProgressBar.initProgressBar(progressUrl, {pollInterval: 1000, onSuccess: successMessage});
        });
      })
      .finally(() => {
        spinner.style.display = 'none'; // Hide the spinner
        //alert("Please come back in few minutes to check the status of the labels")
        //fetchAllOrdersData()
      });
  }
  </script>

<script>
  function successMessage() {
    document.getElementById('progress-bar').style.backgroundColor = '#76ce60';
    document.getElementById('progress-bar-message').textContent = 'All labels are generated successfully.';
    fetchAllOrdersData();
    // Wait for 10 seconds and then clear the progress bar status
    setTimeout(function() {
        document.getElementById('progress-bar').style.display = 'none';
        document.getElementById('progress-bar-message').style.display = 'none';
    }, 10000);
  }
</script>

<script>
  function bulkPrintFunction(requestSessionRole) {
    var label_list = []
    var spinner = document.getElementById('spinner');
    spinner.style.display = 'flex'; // Show the spinner
    var drugs = document.getElementById('drug-options').value
    var startDate = document.getElementById('start-date').value
    var endDate = document.getElementById('end-date').value
    // if pharmacy filter is hidden in case of pharmacy_admin, send null
    var pharmacy_id = null;
    if (requestSessionRole == 'super_admin') {
      var pharmacy = document.getElementById('pharmacy-select');
      if (pharmacy === undefined || pharmacy === null || pharmacy.value === undefined || pharmacy.value === null || pharmacy.value === '') {
        alert('Please select a pharmacy to continue');
        spinner.style.display = 'none'; // Hide the spinner
        return;
      }
      pharmacy_id = pharmacy.value;
    }
      
    fetch('/pharmacy/bulk_print_orders/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({startDate: startDate, endDate: endDate, drugs:drugs, pharmacy: pharmacy_id})
    })
      .then((response) => response.json())
      .then((data) => {
        var parsedData = data
        label_list = (parsedData['label_list'])
        const is_fedex = parsedData['is_fedex'];
        console.log(label_list)
        //Printing
        printIframe(label_list, is_fedex)
        
      })
      .finally(() => {
        
        fetchAllOrdersData()
      });

  }
  </script>

<script>
  function printIframe(label_list, is_fedex) {
      var spinner = document.getElementById('spinner');
      spinner.style.display = 'flex'; // Show the spinner
      var proxyIframe = document.createElement('iframe');
      document.body.appendChild(proxyIframe);
      proxyIframe.style.display = 'none';
      if (is_fedex) {
        proxyIframe.style.width = '831px';
        proxyIframe.style.height = '1251px';
      }
      else {
        proxyIframe.style.width = '431px';
        proxyIframe.style.height = '651px';
      }

      var contentWindow = proxyIframe.contentWindow;
      contentWindow.document.open();
      contentWindow.document.write('<body></body>'); // Ensure the body element is created
      contentWindow.document.close();

      var loadedIframesCount = 0;

      // Ensure the document body is now accessible
      var docBody = contentWindow.document.body;
      if (docBody) {
          label_list.forEach((url, index) => {
              const iframe = document.createElement('iframe');
              iframe.src = url;
              if (is_fedex) {
                iframe.style.width = '831px';
                iframe.style.height = '1251px';
              }
              else {
                iframe.style.width = '431px';
                iframe.style.height = '651px';
                iframe.style.transform = 'rotate(180deg)';
              }

              iframe.onload = function() {
                  loadedIframesCount++;
                  if (loadedIframesCount === label_list.length) {
                      // Wait for all iframes to load before printing
                      setTimeout(function() {
                          contentWindow.print();// Print all at once
                          var spinner = document.getElementById('spinner');
                          spinner.style.display = 'none';
                      }, 10000);
                  }
              };

              docBody.appendChild(iframe);
          });
      } else {
          console.error('Document body is not available');
      }
      
  }
  </script>

<script>
  function bulkPrintWithPrescriptionFunction(requestSessionRole) {
    var spinner = document.getElementById('spinner');
    spinner.style.display = 'flex'; // Show the spinner
    var drugs = document.getElementById('drug-options').value
    var startDate = document.getElementById('start-date').value
    var endDate = document.getElementById('end-date').value
    // if pharmacy filter is hidden in case of pharmacy_admin, send null
    var pharmacy_id = null;
    if (requestSessionRole == 'super_admin') {
      var pharmacy = document.getElementById('pharmacy-select');
      if (pharmacy === undefined || pharmacy === null || pharmacy.value === undefined || pharmacy.value === null || pharmacy.value === '') {
        alert('Please select a pharmacy to continue');
        spinner.style.display = 'none'; // Hide the spinner
        return;
      }
      pharmacy_id = pharmacy.value;
    }

    fetch('/pharmacy/bulk_print_orders/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({startDate: startDate, endDate: endDate, drugs:drugs, pharmacy: pharmacy_id})
    })
      .then((response) => response.json())
      .then((data) => {
        var parsedData = data
        const is_fedex = parsedData['is_fedex'];
        const upper_label_positioning = parsedData['upper_label_positioning'];
        const lower_label_positioning = parsedData['lower_label_positioning'];
        const integrated_label = parsedData['integrated_label'];
        //Printing
        if (!integrated_label || is_fedex) {
            alert("Integrated label not active for this pharmacy!");
            spinner.style.display = 'none'; // Hide the spinner
            return;
        }

        const labelInfoList = parsedData['label_info_list'];
        printShippingLabelWithPrescription(labelInfoList, is_fedex, upper_label_positioning, lower_label_positioning)

      })
      .finally(() => {

        fetchAllOrdersData()
      });

  }
  </script>

<script>
    function convertDateTime(datetimeStr) {
        const dateObj = new Date(datetimeStr);
        const formattedDate = dateObj.toLocaleDateString('en-US', {
            month: '2-digit',
            day: '2-digit',
            year: 'numeric',
        });
        const formattedTime = dateObj.toLocaleTimeString('en-US', {
            hour: '2-digit',
            minute: '2-digit',
            hour12: false
        });

        return `${formattedDate} ${formattedTime} UTC`;
    }
</script>

<script>
  function printShippingLabelWithPrescription(labelInfoList, is_fedex, upper_label_positioning, lower_label_positioning) {
      var spinner = document.getElementById('spinner');
      spinner.style.display = 'flex'; // Show the spinner
      var proxyIframe = document.createElement('iframe');
      document.body.appendChild(proxyIframe);
      proxyIframe.style.display = 'none';
      if (is_fedex) {
        proxyIframe.style.width = '831px';
        proxyIframe.style.height = '1251px';
      }
      else {
        proxyIframe.style.width = '431px';
        proxyIframe.style.height = '651px';
      }

      var labelContent = `{% include "prescription_label.html" %}`;

      // make dynamic timeout to load iframes and open print window in appropriate time
      var dynamicTimeout = 1000;
      if (labelInfoList.length > 10 && labelInfoList.length < 50) {
        dynamicTimeout = 2000;
      } else if (labelInfoList.length > 50 && labelInfoList.length < 100) {
        dynamicTimeout = 3000;
      } else if (labelInfoList.length > 100 && labelInfoList.length < 500) {
        dynamicTimeout = 4000;
      } else if (labelInfoList.length > 500) {
        dynamicTimeout = 10000;
      }

      var contentWindow = proxyIframe.contentWindow;
      contentWindow.document.open();
      contentWindow.document.write('<body></body>'); // Ensure the body element is created
      contentWindow.document.close();

      var loadedIframesCount = 0;

      // Ensure the document body is now accessible
      var docBody = contentWindow.document.body;
      if (docBody) {
          labelInfoList.forEach((labelInfo, index) => {
              const url = labelInfo['label'];
              const shippingLabelContentId = 'shipping-label-content-' + index;
              const shippingLabelId = 'shipping-label-' + index;
              const prescriptionLabelId = 'prescription-label-' + index;
              const pharmacyInfoId = 'pharmacy-info-' + index;
              const patientDetailsId = 'patient-details-' + index;
              const scriptRecordId = 'script-record-' + index;
              const rxNumberId = 'rx-number-' + index;
              const doctorInfoId = 'doctor-info-' + index;

              var shippingLabelWithPrescriptionContent = labelContent.replace('id="shipping-label"', 'id="' + shippingLabelId + '"');
              shippingLabelWithPrescriptionContent = shippingLabelWithPrescriptionContent.replace('id="prescription-label"', 'id="' + prescriptionLabelId + '"');
              shippingLabelWithPrescriptionContent = shippingLabelWithPrescriptionContent.replace('id="pharmacy-info"', 'id="' + pharmacyInfoId + '"');
              shippingLabelWithPrescriptionContent = shippingLabelWithPrescriptionContent.replace('id="patient-details"', 'id="' + patientDetailsId + '"');
              shippingLabelWithPrescriptionContent = shippingLabelWithPrescriptionContent.replace('id="script-record"', 'id="' + scriptRecordId + '"');
              shippingLabelWithPrescriptionContent = shippingLabelWithPrescriptionContent.replace('id="rx-number"', 'id="' + rxNumberId + '"');
              shippingLabelWithPrescriptionContent = shippingLabelWithPrescriptionContent.replace('id="doctor-info"', 'id="' + doctorInfoId + '"');

              var div = document.createElement('div');
              div.style.width = '11in';
              div.style.height = '8.5in';
              div.style.margin = '0';
              div.style.padding = '0';
              div.style.display = 'flex';
              div.style.flexDirection = 'row';
              div.style.backgroundColor = 'white';

              div.id = shippingLabelContentId;
              div.innerHTML = shippingLabelWithPrescriptionContent;
              docBody.appendChild(div);

              const shippingLabelDiv = contentWindow.document.getElementById(shippingLabelId);
              if (shippingLabelDiv) {
                  const iframe = document.createElement('iframe');
                  iframe.src = url;
                  iframe.style.margin = '0';
                  iframe.style.marginTop = '-15px';
                  iframe.style.padding = '0';
                  iframe.style.border = '0';
                  iframe.style.fontSize = '100%';
                  iframe.style.font = 'inherit';
                  iframe.style.verticalAlign = 'baseline';

                  if (upper_label_positioning) {
                      iframe.style.position = 'relative';
                      iframe.style.top = upper_label_positioning.top + 'px';
                      iframe.style.bottom = upper_label_positioning.bottom + 'px';
                      iframe.style.left = upper_label_positioning.left + 'px';
                      iframe.style.right = upper_label_positioning.right + 'px';
                  }
                  if (lower_label_positioning) {
                      const lowerLabelDiv = contentWindow.document.getElementById(prescriptionLabelId);
                      lowerLabelDiv.style.position = 'relative';
                      lowerLabelDiv.style.top = lower_label_positioning.top + 'px';
                      lowerLabelDiv.style.bottom = lower_label_positioning.bottom + 'px';
                      lowerLabelDiv.style.left = lower_label_positioning.left + 'px';
                      lowerLabelDiv.style.right = lower_label_positioning.right + 'px';
                  }

                  if (is_fedex) {
                    iframe.style.width = '831px';
                    iframe.style.height = '1251px';
                  }
                  else {
                    iframe.style.width = '431px';
                    iframe.style.height = '651px';
                    iframe.style.transform = 'rotate(180deg)';
                  }

                  const physicianInfo = labelInfo['physician_info'];
                  const patientInfo = labelInfo['patient_info'];
                  const prescriptionInfo = labelInfo['prescription_info'];
                  const lowerLabelInfo = labelInfo['lower_label_info'];
                  const pharmacyInfo = labelInfo['pharmacy_info'];
                  const fill = labelInfo['fill'];

                  const pharmacyInfoDiv = contentWindow.document.getElementById(pharmacyInfoId);
                  pharmacyInfoDiv.innerHTML = pharmacyInfo['name'] + '<br/>' + pharmacyInfo['address']['line1'] + ', ' + pharmacyInfo['address']['state_code'] + ' ' + pharmacyInfo['address']['zip_code'] + '<br/>' + pharmacyInfo['phoneNumber'];

                  const patientDetailsDiv = contentWindow.document.getElementById(patientDetailsId);
                  patientDetailsDiv.innerHTML = lowerLabelInfo['title'] + '<br /><br /><span class="drug-name">' + lowerLabelInfo['drug_name'] + '</span><br /><span class="instructions">' + lowerLabelInfo['subtitle'] + '</span>';

                  const scriptRecordDiv = contentWindow.document.getElementById(scriptRecordId);
                  const fillDate = convertDateTime(fill.fill_date);
                  pharmacyInfo['reviewed_on'] = fillDate;
                  pharmacyInfo['dispensed_on'] = convertDateTime(fill.statusHistory.LABEL_CREATED.timeStamp);
                  pharmacyInfo['tracking_number'] = fill.tracking_number;
                  scriptRecordDiv.innerHTML = `
                      <h1>Prescription #${prescriptionInfo['id']}</h1>
                      <h2>Physician Info</h2>
                      <table>
                          <tr>
                              <td>Clinic: ${physicianInfo['clinic']}</td>
                              <td>Name: ${physicianInfo['name']}</td>
                              <td>NPI: ${physicianInfo['npi']}</td>

                          </tr>
                          <tr>
                              <td>License: ${physicianInfo['license']}</td>
                              <td>Address: ${physicianInfo['address']}</td>
                              <td>Phone: ${physicianInfo['phoneNumber']}</td>
                          </tr>
                      </table>
                      <h2>Patient Info</h2>
                      <table>
                      <tr>
                          <td>Name: ${patientInfo['name']}</td>
                          <td>DOB: ${patientInfo['dob']}</td>
                          <td>Gender: ${patientInfo['gender']}</td>
                      </tr>
                      <tr>
                          <td>Address: ${patientInfo['address']}</td>
                          <td>Phone: ${patientInfo['phoneNumber']}</td>
                          <td>Email: ${patientInfo['email']}</td>
                      </tr>
                      <tr>
                          <td>Medical Info: ${patientInfo['medical_info']} </td>
                          <td>Allergies: ${patientInfo['allergies']}</td>
                          <td>Diagnosis: ${patientInfo['diagnosis']}</td>
                      </tr>
                      </table>
                      <h2>Pharmacy Info</h2>
                      <table>
                      <tr>
                          <td>Reviewed on: ${pharmacyInfo['reviewed_on']}</td>
                          <td>PIC: ${pharmacyInfo['pic']}</td>
                          <td>License: ${pharmacyInfo['pic_license']}</td>
                      </tr>
                      <tr>
                          <td>Dispensed On: ${pharmacyInfo['dispensed_on']}</td>
                          <td>Dispensing Notes: ${pharmacyInfo['dispensing_notes']}</td>
                          <td>Tracking Number: ${pharmacyInfo['tracking_number']}</td>
                      </tr>
                      <tr>
                          <td>Pharmacy: ${pharmacyInfo['name']}</td>
                          <td>Pharmacy License: ${pharmacyInfo['pharmacy_license']}</td>
                          <td>NCPDPD ID: ${pharmacyInfo['ncpdpid']}</td>
                      </tr>
                      </table>
                      <h2>Prescription Info</h2>
                  `;

                  var scriptExternalID = '';
                  var scriptQuantity = '';
                  for (scriptIndex in prescriptionInfo['scripts']) {
                      const scriptNumber = parseInt(scriptIndex) + 1;
                      const scriptInfo = prescriptionInfo['scripts'][scriptIndex];
                      const scriptInfoDrugName = scriptInfo['name'];
                      const item = fill.items.find((item) => item.name === scriptInfoDrugName);
                      const unit = item.dispense_unit.toLowerCase().includes('milliliter') ? 'ml' : item.dispense_unit;
                      const scriptInfoQuantity = item ? `${item.dispense_quantity} ${unit}` : '';
                      const isSyringe = scriptInfoDrugName.toLowerCase().includes('syringe')

                      if (scriptIndex == 0) {
                          scriptExternalID = scriptInfo['external_id'];
                          scriptQuantity = scriptInfoQuantity;
                      }

                      scriptRecordDiv.innerHTML += `
                          <h3>${scriptNumber}. ${scriptInfoDrugName}</h3>
                          <table>
                          <tr>
                              <td>Date Written: ${scriptInfo['date_written']}</td>
                              <td>Type: ${scriptInfo['type']}</td>
                              <td>Refills: ${scriptInfo['refills']}</td>
                              <td>External ID: ${scriptExternalID}</td>
                          </tr>
                          <tr>
                              <td>Quantity: ${scriptInfoQuantity}</td>
                              <td>Product ID: ${scriptInfo['product_id']}</td>
                              <td>Batch: #${scriptInfo['batch']}</td>
                              <td>Beyond Use Date: ${scriptInfo['beyond_use_date']} </td>
                          </tr>
                          <tr>
                      `;

                      if (isSyringe) {
                          scriptRecordDiv.innerHTML += `
                              <td colspan="3">
                              Directions: Use disposable needles weekly for SQ injections
                              </td>
                          `;
                      }
                      else {
                          scriptRecordDiv.innerHTML += `
                              <td colspan="4">Sig: ${scriptInfo['sig']}</td>
                          `;
                      }

                      scriptRecordDiv.innerHTML += `
                          </tr>
                          </table>
                          <hr />
                      `;
                  }

                  const qrCodeId = 'qrcode' + index;
                  scriptRecordDiv.innerHTML += `
                      <hr />
                      <p>
                          Note: The compounded medications listed are made at the request of the prescribing
                          practitioner whose signature appears above due ot the medical need of a
                          specific patient and the preparation is prescibed becuase the prescriber has
                          determined that the preparation will produce a clinically significant
                          therapeutic response compared to a commericially available product.
                      </p>
                      <p>
                          Note: This is a confidential medical record. You can find more information about this prescription by logging in here
                          <span id=${qrCodeId}></span>
                      </p>
                  `;

                  // generate the QR code
                  const qrCodeEl = contentWindow.document.getElementById(qrCodeId);
                  const qrText = "https://dev-ship.5axis.health/pharmacy/show_order_details/?order_id=" + prescriptionInfo['order_id'];
                  var qrcode = new QRCode(qrCodeEl, {
                      text: qrText,
                      width: 256,
                      height: 256,
                      colorDark : "#000000",
                      colorLight : "#ffffff",
                      correctLevel : QRCode.CorrectLevel.H
                  });
                  var img = qrCodeEl.getElementsByTagName('img')[0];
                  img.style.width = '0.5in';
                  img.style.height = '0.5in';
                  img.style.display = 'unset';

                  // once the img is loaded, unset its default display to render according to our style
                  function generateBarCode() {
                      img.style.display = 'unset';
                  }

                  const rxNumberDiv = contentWindow.document.getElementById(rxNumberId);
                  rxNumberDiv.innerHTML = `
                      This is a compounded product <br />
                      Rx #${fill.fill_id}, Qty: ${scriptQuantity} <br />
                      Filled: ${fillDate ? fillDate.split(" ")[0] : ''} <br/>
                      Use By: ${lowerLabelInfo['use_by_date']}
                  `;

                  const doctorInfoDiv = contentWindow.document.getElementById(doctorInfoId);
                  doctorInfoDiv.innerHTML = `
                      Prescriber: ${physicianInfo['name']} <br />
                      ${physicianInfo['phoneNumber']} <br/>
                      Pharm: ${pharmacyInfo['pharmacist']} Tech: ${pharmacyInfo['tech']}
                  `;

                  iframe.onload = function() {
                      generateBarCode();
                      loadedIframesCount++;
                      if (loadedIframesCount === labelInfoList.length) {
                          // Wait for all iframes to load before printing
                          setTimeout(function() {
                              contentWindow.print();// Print all at once
                          }, dynamicTimeout);
                      }
                  };

                  shippingLabelDiv.appendChild(iframe); // Append the label iframe to the designated div
              } else {
                  console.error('shipping-label div not found in prescription_label.html');
              }
          });
      } else {
          console.error('Document body is not available');
      }

      document.getElementById('spinner').style.display = 'none';
  }
</script>
  
  <script>
    var currentPage = 1
    var max_pages = 2
    function fetchAllOrdersData() {
      
      if (event) {
        //incase it is trigerred by search button set page to 1 and ignor submit event
    
        if (event.target.id === 'submit-button') {
          currentPage = 1
          event.preventDefault()
        }
      }
      var orderStatus = "{{ orderStatus }}"
      var status  = orderStatus
      // if pharmacy filter is hidden in case of pharmacy_admin, send null
      var pharmacy = document.getElementById('pharmacy-select');
      var pharmacy_id = null;
      if (pharmacy !== undefined && pharmacy !== null) {
          pharmacy_id = pharmacy.value;
      }
      var doctor = ''
      var startDate = document.getElementById('start-date').value
      var endDate = document.getElementById('end-date').value
      var drugs = document.getElementById('drug-options').value
      var search_value = ''
      var page = currentPage
    
      fetch('/pharmacy/fetch_all_orders_data/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ page: page, status: status, extra_status:"LABEL_CREATED", startDate: startDate, endDate: endDate, search_value:search_value, doctor:doctor, drugs:drugs,pharmacy: pharmacy_id })
      })
        .then((response) => response.json())
        .then((data) => {
          var parsedData = data.data
          console.log(parsedData)
    
          // Create a table
          var table = document.getElementById('ordersTable')
          table.innerHTML = ''
    
          // Update the page info
          const itemsPerPage = 20
          var start = itemsPerPage * (page - 1) + 1
          var end = itemsPerPage * page
    
          max_pages = Math.ceil(data.total_count / itemsPerPage)
    
          //handling count on last page
          if (end > data.total_count) {
            end = data.total_count
          }
    
          //if no result
          if (data.total_count == 0) {
            spinner.style.display = 'none';
            document.getElementById('pageInfo').textContent = `No Orders Found, Please try changing the filter criteria`
          } else {
            document.getElementById('pageInfo').textContent = `${data.total_count} Records Found. Showing (${start}-${end}) Page ${page} of ${Math.ceil(data.total_count / itemsPerPage)}`
          }
    
          // Create table header row
          var thead = document.createElement('thead')
          var headerRow = document.createElement('tr')
    
          // Get keys from the first object in the data array
          var keys = Object.keys(parsedData[0])
    
          // Create a table header for each key
          keys.forEach((key) => {
            var th = document.createElement('th')
            th.textContent = key
            headerRow.appendChild(th)
          })
    
          // Add an empty header cell for the "View Detail" button
          var emptyCell = document.createElement('th')
          headerRow.appendChild(emptyCell)
    
          // Add the header row to the table
          thead.appendChild(headerRow)
          table.appendChild(thead)
    
          // Create table body
          var tbody = document.createElement('tbody')
    
          // Create a table row for each object in the data array
          var temp_order_id = 0
          document.getElementById('bulk-ship-button').disabled = true;
          var all_labels_present = true;
          parsedData.forEach((item) => {
            var row = document.createElement('tr')
    
            // Create a table cell for each value in the object
            keys.forEach((key) => {
              var cell = document.createElement('td')
    
              if (key === 'Order Id') {
                temp_order_id = item[key]
                cell.textContent = item[key]
              }
              
              if(all_labels_present && key === 'Status' && item[key] !== 'LABEL_CREATED'){
                all_labels_present = false;
                alert("Some Labels are missing, Please generate all labels again");
                document.getElementById('bulk-print-button').disabled = true;
                document.getElementById('bulk-print-button2').disabled = true;
                document.getElementById('bulk-ship-button').disabled = false;
              }
              
              if (key === 'Drug Info') {
                var drugInfo = item[key].map((drug) => `• ${drug.drug}, ${drug.quantity}`).join('<br>')
                cell.innerHTML = drugInfo
              } else {
                cell.textContent = item[key]
              }
              row.appendChild(cell)
            })
    
            // Add "View Detail" button
            var detailCell = document.createElement('td')
            var detailButton = document.createElement('a')
            detailButton.href = `/pharmacy/show_order_details?order_id=${temp_order_id}`
            detailButton.target = '_blank'
            detailButton.textContent = 'View Details'
            detailCell.appendChild(detailButton)
            row.appendChild(detailCell)
    
            tbody.appendChild(row)
          })
    
          table.appendChild(tbody)
          
          if(all_labels_present){
          document.getElementById('bulk-print-button').disabled = false;
          document.getElementById('bulk-print-button2').disabled = false;
                
        }
        
        })
        
    }
  </script>

  <script>
    // Add event listeners to the pagination buttons
    document.getElementById('prevPage').addEventListener('click', function () {
    if (currentPage > 1) {
        currentPage--;
        fetchAllOrdersData();
    } else if (currentPage == 1) {
        alert('You are on the first page');
        return;
    }
    })
    
    document.getElementById('nextPage').addEventListener('click', function () {
      if (currentPage + 1 > max_pages) {
        alert('You are on the last page');
        return
      }
      currentPage++
      fetchAllOrdersData()
    })
  </script>
{% endblock %}