<form class="orders-form" style="flex-wrap: wrap;">
  <div class="form-section">
    <div class="form-fields">
      <label for="start-date">Start Date:</label>
      <input type="date" id="start-date" name="start-date" onchange="validateDate()" />
    </div>

    <div class="form-fields">
      <label for="end-date">End Date:</label>
      <input type="date" id="end-date" name="end-date" onchange="validateDate()"/>
    </div>

    <div class="form-fields">
      <label for="date-interval">Date Interval:</label>
      <select id="date-interval" onchange="handleDateIntervalChange(this)">
        <option value="1">1 Day</option>
        <option value="7" selected>7 Days</option>
        <option value="14">2 Weeks</option>
        <option value="30">1 Month</option>
        <option value="180">6 Months</option>
      </select>
    </div>

    {% if request.session.role == 'super_admin' %}
        <div class="form-fields">
           <label for="pharmacy-select">Pharmacies:</label>
           <select id="pharmacy-select" onchange="fetchAllOrderStats()"></select>
        </div>
    {% endif %}
  </div>
  <button class="btn btn-primary text-white" type="submit" id="submit-button" style="margin:10px;" onclick="fetchAllOrderStats(event)">Apply Filters</button>
</form>

<div id="spinner" style="display: none; justify-content: center; align-items: center; height: 10px; flex-direction: column; margin-top:50px; margin-bottom:50px; display: none;">
  <img src="https://i.pinimg.com/originals/3e/f0/e6/3ef0e69f3c889c1307330c36a501eb12.gif" alt="Loading..." style="width: 40px; height: 40px;">
  <p>Fetching Stats...</p>
</div>

<div id="dashboard" class="dashboard" style="flex-wrap: wrap;"></div>

<script>
    window.onload = function () {
        var today = new Date().toISOString().split('T')[0];
        var date = new Date();
        date.setDate(date.getDate() - 7);
        var weekAgo = date.toISOString().split('T')[0];
        document.getElementById('start-date').value = weekAgo;
        document.getElementById('end-date').value = today;
        fetchAllPharmacies();
        fetchAllOrderStats();
    }
</script>

<script>
    function validateDate() {
        var startDate = document.getElementById('start-date').value;
        var endDate = document.getElementById('end-date').value;
        if (endDate < startDate) {
            alert('End date should be greater than or equal to start date');
            document.getElementById('end-date').value = startDate;
        }
    }
</script>

<script>
    function handleDateIntervalChange(select) {
        var dateInterval = select.value;
        var today = new Date().toISOString().split('T')[0];
        var date = new Date();
        date.setDate(date.getDate() - dateInterval);
        var startDate = date.toISOString().split('T')[0];
        document.getElementById('start-date').value = startDate;
        document.getElementById('end-date').value = today;
        fetchAllOrderStats()
    }
</script>

<script>
    function fetchAllOrderStats() {
        var spinner = document.getElementById('spinner');
        spinner.style.display = 'flex'; // Show the spinner

        if (event) {
            //incase it is triggered by search button, ignore submit event
            if (event.target.id === 'submit-button') {
              event.preventDefault();
            }
        }

        var startDate = document.getElementById('start-date').value;
        var endDate = document.getElementById('end-date').value;

        // if pharmacy filter is hidden in case of pharmacy_admin, send null
        var pharmacy = document.getElementById('pharmacy-select');
        var pharmacy_id = null;
        if (pharmacy !== undefined && pharmacy !== null) {
            pharmacy_id = pharmacy.value;
        }

        var params = {
            start_date: startDate,
            end_date: endDate,
            pharmacy: pharmacy_id
        };
        var url = '/pharmacy/order_stats?' + ( new URLSearchParams( params ) ).toString();
        fetch(url)
            .then(response => {
                if (response.status !== 200) {
                    response.json().then(data => {
                        alert('Error: ' + response.status + ', ' + data.message + '. Order Stats Failed');
                    });
                    return;
                }
                return response.json();
            })
            .then((result) => {
                console.log(result);
                generateStats(result.data);
            })
            .catch(error => console.error('Error:', error))
            .finally(() => {
                spinner.style.display = 'none'; // Hide the spinner
            });
    }

    function generateStats(statsData) {
        const dashboard = document.getElementById('dashboard');
        dashboard.innerHTML = ''; // Clear existing content
        var count = 0;

        statsData.forEach(stat => {
            const statDiv = document.createElement('div');
            statDiv.className = 'stat';
            statDiv.id = stat.id;

            const title = document.createElement('h2');
            title.textContent = stat.title;
            statDiv.appendChild(title);

            const numberDiv = document.createElement('div');
            numberDiv.className = 'number';
            numberDiv.id = `${stat.id}_num`;
            numberDiv.textContent = stat.number;
            statDiv.appendChild(numberDiv);

            if (stat.percentage !== null) {
                const percentageDiv = document.createElement('div');
                percentageDiv.className = 'percentage';
                percentageDiv.id = `${stat.id}_perc`;
                percentageDiv.textContent = stat.percentage;
                statDiv.appendChild(percentageDiv);
            }



            dashboard.appendChild(statDiv);

            if (stat.title === 'Total Orders' || stat.title === 'Cancelled Orders' || stat.title === 'Issue In Shipping Orders' || stat.title === 'Partial Completed Orders' || stat.title === 'Priority Orders' ) {
                var lineBreak = document.createElement('div');
                lineBreak.className = 'new-line';
                dashboard.appendChild(lineBreak);
            }


        });
    }
</script>

<script>
    function fetchAllPharmacies() {
        var select = document.getElementById('pharmacy-select');
        if (select === undefined || select === null) {
            return;
        }

        fetch('/pharmacy/fetch_all_pharmacies/')
            .then((response) => response.json())
            .then((result) => {
                console.log(result);

                // Add "All" option
                var allOption = document.createElement('option');
                allOption.value = '';
                allOption.text = 'All';
                select.add(allOption);

                result.data.forEach(function (pharmacy) {
                    var option = document.createElement('option');
                    option.value = pharmacy.pharmacyId;
                    option.text = pharmacy.name;
                    select.add(option);
                });
            });
    }
</script>
