{% extends 'base.html' %}

{% block title %}
  Users - MDExam
{% endblock %}

{% block content %}
  <div style="display: flex; justify-content: space-between; aling-items: center; margin-bottom: 16px;">
    <h6 class="text-dark text-left pb-2"><span class="text-black">5 Axis ></span> Users Management</h6>
    <button type="button" class="btn btn-primary text-white btn-theme" data-toggle="modal" data-target="#insertModal">Add User</button>
  </div>

  <div class="modal fade" id="insertModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="modal-body">
          <form id="add-user-form" method="post"  action="/management/create_user/" autocomplete="off">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>First Name</label>
                  <input name="first_name" id ='first_name' required autocomplete="false" type="text" class="form-control" placeholder="Enter first name" />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Last Name</label>
                  <input name = 'last_name'  = 'last_name' required autocomplete="false" type="text" class="form-control" placeholder="Enter last name" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Email address</label>
                  <input name ='email' id ='email' required autocomplete="false" type="email" class="form-control" placeholder="Enter email" />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Phone number</label>
                  <input name="phone_number" id="phone_number" required autocomplete="false" type="tel" class="form-control" placeholder="Enter phone" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Role</label>
                  <select name="user_roles_select" required class="form-control" id="user_roles_select">
                    
                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Pharmacy</label>
                  <select name = 'pharmacy_select' required class="form-control" id = 'pharmacy_select'>
                    
                  </select>
                </div>
              </div>
            </div>
            
            <div class="col-md-6">
              <div class="form-group">
                  <label>
                      <input type="checkbox" name="can_reopen_order" id="can_reopen_order_checkbox"> Can Reopen Order
                  </label>
              </div>
          </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Password</label>
                  <input name = "password" id = "password" required autocomplete="false" type="password" class="form-control" placeholder="Password" />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Confirm your password</label>
                  <input name = 'confirm_password' id = 'confirm_password' required autocomplete="false" type="password" class="form-control" placeholder="Password" />
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button form="add-user-form" type="submit" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="updateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="modal-body">
          <form id="update-user-form" method="post"  action="/management/update_user/" autocomplete="off">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>First Name</label>
                  <input name="first_name_update" id ='first_name_update' required autocomplete="false" type="text" class="form-control" placeholder="Enter first name" />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Last Name</label>
                  <input name = 'last_name_update'  id= 'last_name_update' required autocomplete="false" type="text" class="form-control" placeholder="Enter last name" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Email address</label>
                  <input name ='email_update' id ='email_update' required autocomplete="false" type="email" class="form-control" placeholder="Enter email"  readonly/>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Phone number</label>
                  <input name="phone_number_update" id="phone_number_update" required autocomplete="false" type="tel" class="form-control" placeholder="Enter phone" />
                </div>
              </div>
            </div>
            <!--
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Role</label>
                  <select name="user_roles_select_update" required class="form-control" id="user_roles_select_update">
                    
                  </select>
                </div>
              </div>
              
              
              <div class="col-md-6">
                <div class="form-group">
                  <label>Pharmacy</label>
                  <select name = 'pharmacy_select_update' required class="form-control" id = 'pharmacy_select_update'>
                    
                  </select>
                </div>
              </div>
              
            </div>
            -->

            <div class="col-md-6">
              <div class="form-group">
                  <label>
                      <input type="checkbox" name="can_reopen_order_update" id="can_reopen_order_update"> Can Reopen Order
                  </label>
              </div>
          </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Password</label>
                  <input name = "password_update" id = "password_update"  autocomplete="false" type="password" class="form-control" placeholder="Password" />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Confirm your password</label>
                  <input name = 'confirm_password_update' id = 'confirm_password_update' autocomplete="false" type="password" class="form-control" placeholder="Password" />
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button form="update-user-form" type="submit" class="btn btn-primary">Update changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <table id="ordersTable" class="mytable">
    <!-- Table content goes here -->
  </table>



  <script>
    window.onload = function () {
      fetch_all_user_data();
      fetch_user_roles();
      fetch_user_pharmacies();
    }
    
    function fetch_all_user_data() {
      fetch('/management/fetch_all_user_data/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({})
      })
        .then((response) => response.text())
        .then((data) => {
          var parsedData = JSON.parse(data)
    
          // Create a table
          var table = document.getElementById('ordersTable')
    
          // Create table header row
          var thead = document.createElement('thead')
          var headerRow = document.createElement('tr')
    
          // Get keys from the first object in the data array
          var keys = Object.keys(parsedData[0])
    
          // Create a table header for each key
          keys.forEach((key) => {
            var th = document.createElement('th')
            th.textContent = key
            headerRow.appendChild(th)
          })

          //var th = document.createElement('th')
          //th.textContent = "Update"
          //headerRow.appendChild(th)
          
          var th = document.createElement('th')
          th.textContent = "Edit"
          headerRow.appendChild(th)

          var th = document.createElement('th')
          th.textContent = "Delete"
          headerRow.appendChild(th)

          thead.appendChild(headerRow)
          table.appendChild(thead)
    
          // Create table body
          var tbody = document.createElement('tbody')
    
          // Create a table row for each object in the data array
          parsedData.forEach((item) => {
            var row = document.createElement('tr')
    
            // Create a table cell for each value in the object
            keys.forEach((key) => {
              var cell = document.createElement('td')
              cell.textContent = item[key]
              
              row.appendChild(cell)
            })
    
            // Add update button
            /*
            var updateCell = document.createElement('td')
            var updateButton = document.createElement('a')
            updateButton.href = `/management/update_user?=${item.Email}` 
            updateButton.textContent = 'Update'
            updateCell.appendChild(updateButton)
            row.appendChild(updateCell)
            */
            
            // Add edit button
            var editCell = document.createElement('td');
            var editButton = document.createElement('a');
            //editButton.href = `/management/edit_user?email=${item.Email}`;
            var editButton = document.createElement('a');
            editButton.onclick = function() {
              fetchUserData(item.Email);
            };
            editButton.setAttribute("data-toggle", "modal");
            editButton.setAttribute("data-target", "#updateModal");
            //set color blue
            editButton.style.color = "#007bff";
            //on hover should show pointer
            editButton.style.cursor = "pointer";
            editButton.textContent = 'Edit';
            
            editCell.appendChild(editButton);
            row.appendChild(editCell);



            // Add delete button
            var deleteCell = document.createElement('td');
            var deleteButton = document.createElement('a');
            deleteButton.href = `/management/delete_user?email=${item.Email}`;
            deleteButton.textContent = 'Delete';
            deleteButton.onclick = function() {
              return confirm('Are you sure you want to delete this user?');
            };
            deleteCell.appendChild(deleteButton);
            row.appendChild(deleteCell);

            

            tbody.appendChild(row)
          })
          
          

          table.appendChild(tbody)
        })
    }
  </script>

  <!-- Script to fetch user roles from the server -->
  <script>
    function fetch_user_roles(){
      
      // Fetch user roles from your server
      fetch('/management/fetch_user_roles/')
        .then((response) => response.json())
        .then((data) => {
          var role_select = document.getElementById('user_roles_select')
          //var role_select_update = document.getElementById('user_roles_select_update')
    
          data.forEach(function (status) {
            var option = document.createElement('option')
            option.value = status
            option.text = status
            //convert the text from pharmacy_admin to Pharmacy Admin
            if (option && option.text) {
                option.text = option.text.replace(/_/g, ' ');
                option.text = option.text.replace(/\b\w/g, function(txt){return txt.toUpperCase();});
            }
            role_select.add(option)
            //role_select_update.add(option.cloneNode(true))
          })
        })
    }


  </script>

  <script>
    function fetchUserData(email) {
      
      // Fetch user roles from your server
      fetch('/management/fetch_user_data/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({"email": email})
      })
      .then((response) => response.text())  // Get the response as text
      .then((data) => {
        var parsedData = JSON.parse(data);  // Parse the data as JSON
        console.log(parsedData);  // Log the parsed data to the console
        document.getElementById('first_name_update').value = parsedData['first_name'];
        document.getElementById('last_name_update').value = parsedData['last_name'];
        document.getElementById('phone_number_update').value = parsedData['phone'];
        document.getElementById('email_update').value = parsedData['email'];
        
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    }
    


  </script>


<!-- Script to fetch list of pharmacies from the server -->
  <script>
    function fetch_user_pharmacies(){
      fetch('/management/fetch_user_pharmacies/')
        .then((response) => response.json())
        .then((data) => {
          var pharmacy_select = document.getElementById('pharmacy_select');
          //var pharmacy_select_update = document.getElementById('pharmacy_select_update');
          data.forEach(function (status) {
            var option = document.createElement('option');
            option.value = status['ncpdpid'];
            option.text = status['name'];
            pharmacy_select.add(option);
            //pharmacy_select_update.add(option.cloneNode(true));
          });
        });
    }
  </script>

<!-- For Insert -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
      // Get the checkbox element
      var checkbox = document.getElementById("can_reopen_order_checkbox");

      // Add event listener for checkbox change
      checkbox.addEventListener("change", function() {
          // Set the value of hidden input based on checkbox state
          var value = this.checked ? "true" : "false";
          document.getElementById("can_reopen_order").value = value;
      });
  });
</script>

<!-- For Update -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
      // Get the checkbox element
      var checkbox = document.getElementById("can_reopen_order_update");

      // Add event listener for checkbox change
      checkbox.addEventListener("change", function() {
          // Set the value of hidden input based on checkbox state
          var value = this.checked ? "true" : "false";
          document.getElementById("can_reopen_order_update").value = value;
      });
  });
</script>

{% endblock %}
