{% extends "base.html" %}

{% block title %} Users - MDExam {% endblock %} 

{% block content %}

<div>
  <h6 class="text-dark text-left pb-2">
    <span class="text-black">MD5 Exam ></span> Users Management
  </h6>

  <div style="display: flex; justify-content: end; margin-bottom: 16px;">
    <button type="button" class="btn text-white btn-theme" data-toggle="modal" data-target="#insertModal">
      Add User
    </button>
  </div>

  <table id="tableId" class="mytable">
    <!-- Table content goes here -->
  </table>

  <div class="modal fade" id="insertModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-theme">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  window.onload = function () {
    fetch_all_user_data();
  };

  function fetch_all_user_data() {
    fetch("/management/fetch_all_user_data/", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({}),
    })
      .then((response) => response.text())
      .then((data) => {
        var parsedData = JSON.parse(data);

        // Create a table
        var table = document.getElementById("tableId");

        // Create table header row
        var thead = document.createElement("thead");
        var headerRow = document.createElement("tr");

        // Get keys from the first object in the data array
        var keys = Object.keys(parsedData[0]);

        // Create a table header for each key
        keys.forEach((key) => {
          var th = document.createElement("th");
          th.textContent = key;
          headerRow.appendChild(th);
        });

        thead.appendChild(headerRow);
        table.appendChild(thead);

        // Create table body
        var tbody = document.createElement("tbody");

        // Create a table row for each object in the data array
        parsedData.forEach((item) => {
          var row = document.createElement("tr");

          // Create a table cell for each value in the object
          keys.forEach((key) => {
            var cell = document.createElement("td");
            cell.textContent = item[key];
            row.appendChild(cell);
          });

          tbody.appendChild(row);
        });

        table.appendChild(tbody);
      });
  }
</script>

{% endblock %}
