{% extends 'base.html' %}

{% block title %}
  Orders - MDExam
{% endblock %}

{% block content %}
  <div>
    <h4>{{ orderStatus }} ORDERS</h4>

    <form class="orders-form" style="flex-wrap: wrap; 
    ">
      <div class="form-section">
        <div class="form-fields">
          <label for="start-date">Start Date:</label>
          <input type="date" id="start-date" name="start-date" onchange="validateDate()" />
        </div>

        <div class="form-fields">
          <label for="end-date">End Date:</label>
          <input type="date" id="end-date" name="end-date" onchange="validateDate()"/>
        </div>
        
        <div class="form-fields">
          <label for="date-interval">Date Interval:</label>
          <select id="date-interval" onchange="handleDateIntervalChange(this)">
            <option value="1">1 Day</option>
            <option value="7" >7 Days</option>
            <option value="14">2 Weeks</option>
            <option value="30" selected>1 Month</option>
            <option value="180">6 Months</option>
          </select>
        </div>
        
        {% if request.session.role == 'super_admin' %}
        <div class="form-fields">
           <label for="pharmacy-select">Pharmacies:</label>
           <select id="pharmacy-select"></select>
        </div>
        {% endif %}

        <!--if orderStatus not equals Orders then hide this field-->
        {% if orderStatus == 'All' %}
        <div class="form-fields">
          <label for="order-status">Order Status:</label>
          <select id="order-status"></select>
        </div>
        {% endif %}

        <div class="form-fields">
          <label for="doctor-select">Doctors:</label>
          <select id="doctor-select"></select>
        </div>

      </div>
      <div class="form-section">
       
        <div class="form-fields">
          <label for="drug-options">Drugs:</label>
          <select id="drug-options" onchange="fetchAllOrdersData()"></select>
        </div>
      
        
        <div class="form-fields">
          <label for="search_value">Search:</label>
          <input type="text" id="search_value" name="search_value" placeholder="Search" style="width:250px;"/>
        </div>

      </div>

      <button class="btn btn-primary text-white" type="submit" id="submit-button" style="margin:10px;" onclick="fetchAllOrdersData(event)">Apply Filters</button>
    </form>

    <div id="spinner" style="display: none; justify-content: center; align-items: center; height: 10px; flex-direction: column; margin-top:20px; display: none;">
      <img src="https://i.pinimg.com/originals/3e/f0/e6/3ef0e69f3c889c1307330c36a501eb12.gif" alt="Loading..." style="width: 40px; height: 40px;">   
      <p>Processing orders</p>
    </div>

    <div class="paginator">
      <p id="pageInfo"></p>
      
      <div class="paginator-controls">
        <button id="prevPage">Previous Page</button>
        <button id="nextPage">Next Page</button>
      </div>
    </div>
  

    <!-- button to print csv-->
    <button class="btn btn-primary text-white" type="submit" id="download-csv-button" style="margin:10px; display: none;" onclick="fetchAndDownloadAllOrdersData(event)">Download CSV</button>

    <table id="ordersTable" class="mytable">
      <!-- Table content goes here -->
    </table>


  </div>
  <script>
    function validateDate() {
    var startDate = document.getElementById('start-date').value;
    var endDate = document.getElementById('end-date').value;
    if (endDate < startDate) {
        alert('End date should be greater than or equal to start date');
        document.getElementById('end-date').value = startDate;
    }
  }
  </script>

  <script>
    function handleDateIntervalChange(select) {
      var dateInterval = select.value
      var today = new Date().toISOString().split('T')[0]
      var date = new Date()
      date.setDate(date.getDate() - dateInterval)
      var startDate = date.toISOString().split('T')[0]
      document.getElementById('start-date').value = startDate
      document.getElementById('end-date').value = today
      fetchAllOrdersData()
    }

  </script>

  <script>
    window.onload = function () {
      var today = new Date().toISOString().split('T')[0]
      var date = new Date()
      date.setDate(date.getDate() - 30)
      var weekAgo = date.toISOString().split('T')[0]
      document.getElementById('start-date').value = weekAgo
      //document.getElementById('start-date').value = today;
      document.getElementById('end-date').value = today
    
      
        
        fetchAllOrderStatus();
        fetchDoctorsFromServer();
        fetchAllPharmacies();
        fetchDrugOptions();
        fetchAllOrdersData();
    }
  </script>

<script>
  function fetchAllPharmacies() {
      fetch('/pharmacy/fetch_all_pharmacies/')
          .then((response) => response.json())
          .then((result) => {
              console.log(result);
              var select = document.getElementById('pharmacy-select');

              // Add "All" option
              var allOption = document.createElement('option');
              allOption.value = '';
              allOption.text = 'All';
              select.add(allOption);

              result.data.forEach(function (pharmacy) {
                  var option = document.createElement('option');
                  option.value = pharmacy.pharmacyId;
                  option.text = pharmacy.name;
                  select.add(option);
              });
          });
  }
</script>

  <script>
  function fetchDrugOptions() {
    // Fetch drugs from your server
    fetch('/pharmacy/fetch_drug_options/')
      .then((response) => response.json())
      .then((data) => {
        var select = document.getElementById('drug-options')

        // Add "All" option
        var allOption = document.createElement('option')
        allOption.value = ''
        allOption.text = 'All'
        allOption.selected = true
        select.prepend(allOption)

        data.forEach(function (status) {
          var option = document.createElement('option')
          option.value = status
          option.text = status
          select.add(option)
        })
      })
  }
  </script>

  <script>
    function fetchDoctorsFromServer(){
        // Fetch doctors from your server
        fetch('/pharmacy/fetch_all_doctors/')
        .then((response) => response.json())
        .then((data) => {
          var select = document.getElementById('doctor-select')
    
          // Add "All" option
          var allOption = document.createElement('option')
          allOption.value = ''
          allOption.text = 'All'
          select.prepend(allOption)
    
          data.forEach(function (status) {
            var option = document.createElement('option')
            option.value = status.doctorId
            option.text = status.name
            select.add(option)
          })
        })
    }
  </script>

  <script>
    function fetchAllOrderStatus(){
      // Fetch order statuses from your server
      fetch('/pharmacy/fetch_all_order_status/')
        .then((response) => response.json())
        .then((data) => {
          var select = document.getElementById('order-status')
    
          // Add "All" option
          
          //get orderStatus here
          var orderStatus = "{{ orderStatus }}"

          var allOption = document.createElement('option')
          allOption.value = ''
          allOption.text = 'All'
          if(orderStatus == 'All'){
              allOption.selected = true
              select.prepend(allOption)
            
            
      
            data.forEach(function (status) {
              var option = document.createElement('option')
              option.value = status
              option.text = status
              select.add(option)
            })
          }
        })
    }

  </script>

  <script>
    var currentPage = 1
    var max_pages = 2
    function fetchAllOrdersData() {
      if (event) {
        //incase it is trigerred by search button set page to 1 and ignor submit event
        var spinner = document.getElementById('spinner');
        spinner.style.display = 'flex'; // Show the spinner
        if (event.target.id === 'submit-button') {
          currentPage = 1
          event.preventDefault()
        }
      }
      var orderStatus = "{{ orderStatus }}"
      if(orderStatus == 'All'){
        var status = document.getElementById('order-status').value
      }
      else{
        var status  = orderStatus
      }
      var extra_status = ""
      var priority = ""

      if(orderStatus == "FILLED"){
        orderStatus = "COMPLETE_FILLED"
        status = "COMPLETE_FILLED"
        extra_status = "PARTIAL_FILL"
      }

      if(orderStatus == "IN_SHIPPING"){
        orderStatus = "IN_SHIPPING"
        status = "IN_SHIPPING"
        extra_status = "IN_SHIPPING"
      }

      if(orderStatus == "PRIORITY"){
        orderStatus = "LABEL_CREATED"
        status = "LABEL_CREATED"
        priority = "LABEL_CREATED"
      }

      if(orderStatus == "COMPLETED"){
        orderStatus = "COMPLETED"
        status = "COMPLETED"
        extra_status = "PARTIAL_COMPLETED"
      }

      var doctor = document.getElementById('doctor-select').value
      var startDate = document.getElementById('start-date').value
      var endDate = document.getElementById('end-date').value
      var search_value = document.getElementById('search_value').value

      // if pharmacy filter is hidden in case of pharmacy_admin, send null
      var pharmacy = document.getElementById('pharmacy-select');
      var pharmacy_id = null;
      if (pharmacy !== undefined && pharmacy !== null) {
          pharmacy_id = pharmacy.value;
      }

      var page = currentPage
      var drugs = document.getElementById('drug-options').value

      var address_validation_failed = "{{address_validation_failed}}";
      if (!address_validation_failed || address_validation_failed.trim() === '') {
        // Handle the case when address_validation_failed doesn't have a value
        // For example, you might want to set it to a default value
        
        address_validation_failed = false;
      }
      else {
        address_validation_failed = true;
      }
      
      var fetch_orders_params = {
        page: page, 
        status: status,
        extra_status: extra_status, 
        startDate: startDate, 
        endDate: endDate, 
        search_value: search_value, 
        doctor: doctor,
        pharmacy: pharmacy_id, 
        drugs: drugs, 
        priority: priority
      };

      if (address_validation_failed) {
        fetch_orders_params.address_validation_failed = address_validation_failed;
      }

      fetch('/pharmacy/fetch_all_orders_data/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(fetch_orders_params)
      })
        .then((response) => response.json())
        .then((data) => {
          var parsedData = data.data
          console.log(parsedData)
    
          // Create a table
          var table = document.getElementById('ordersTable')
          table.innerHTML = ''
    
          // Update the page info
          const itemsPerPage = 20
          var start = itemsPerPage * (page - 1) + 1
          var end = itemsPerPage * page
    
          max_pages = Math.ceil(data.total_count / itemsPerPage)
    
          //handling count on last page
          if (end > data.total_count) {
            end = data.total_count
          }
    
          //if no result
          if (data.total_count == 0) {
            spinner.style.display = 'none'; // Hide the spinner
            document.getElementById('pageInfo').textContent = `No Records Found, Please try changing the filter criteria`
          } else {
            document.getElementById('pageInfo').textContent = `${data.total_count} Records Found. Showing (${start}-${end}) Page ${page} of ${Math.ceil(data.total_count / itemsPerPage)}`
            document.getElementById('download-csv-button').style.display = 'block'
    
          // Create table header row
          var thead = document.createElement('thead')
          var headerRow = document.createElement('tr')
    
          // Get keys from the first object in the data array
          //var keys = Object.keys(parsedData[0])
          // Get the object with the most keys
          var maxKeysObj = parsedData.reduce((max, obj) => 
              Object.keys(obj).length > Object.keys(max).length ? obj : max, {});

          // Get keys from the object with the most keys
          var keys = Object.keys(maxKeysObj);





          // Create a table header for each key
          keys.forEach((key) => {
            var th = document.createElement('th')
            th.textContent = key
            headerRow.appendChild(th)
          })
    
          // Add an empty header cell for the "View Detail" button
          var emptyCell = document.createElement('th')
          headerRow.appendChild(emptyCell)
    
          // Add the header row to the table
          thead.appendChild(headerRow)
          table.appendChild(thead)
    
          // Create table body
          var tbody = document.createElement('tbody')
    
          // Create a table row for each object in the data array
          var temp_order_id = 0
          parsedData.forEach((item) => {
            var row = document.createElement('tr')
    
            // Create a table cell for each value in the object
            keys.forEach((key) => {
              var cell = document.createElement('td')
    
              if (key === 'Order Id') {
                temp_order_id = item[key]
                cell.textContent = item[key]
              }

              if (key === 'Status') {
                temp_status = item[key]
                if(temp_status === "CANCELLED"){
                  cell.style.color = "red"
                }
                
              }
              
              if(key === 'Refill Due Date'){
                cell.style.color = "red";
              }


              if (key === 'Drug Info') {
                var drugInfo = item[key].map((drug) => `• ${drug.drug}, ${drug.quantity}`).join('<br>')
                cell.innerHTML = drugInfo
              } else {
                cell.textContent = item[key]
              }
              row.appendChild(cell)
            })
    
            // Add "View Detail" button
            var detailCell = document.createElement('td')
            var detailButton = document.createElement('a')
            detailButton.href = `/pharmacy/show_order_details?order_id=${temp_order_id}`
            detailButton.target = '_blank'
            detailButton.textContent = 'View Details'
            detailCell.appendChild(detailButton)
            row.appendChild(detailCell)
    
            tbody.appendChild(row)
          })
    
          table.appendChild(tbody)
          
          }
          spinner.style.display = 'none'; // Hide the spinner
        })
    }
  </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
<script>
  function fetchAndDownloadAllOrdersData() {
    if (event) {
      //incase it is trigerred by search button set page to 1 and ignor submit event
      var spinner = document.getElementById('spinner');
      spinner.style.display = 'flex'; // Show the spinner
      if (event.target.id === 'submit-button') {
        currentPage = 1
        event.preventDefault()
      }
    }
    var orderStatus = "{{ orderStatus }}"
    if(orderStatus == 'All'){
      var status = document.getElementById('order-status').value
    }
    else{
      var status  = orderStatus
    }
    var extra_status = ""
    if(orderStatus == "FILLED"){
      orderStatus = "COMPLETE_FILLED"
      status = "COMPLETE_FILLED"
      extra_status = "PARTIAL_FILL"
    }

    var doctor = document.getElementById('doctor-select').value
    var startDate = document.getElementById('start-date').value
    var endDate = document.getElementById('end-date').value
    var search_value = document.getElementById('search_value').value
    var page = 99999
    var drugs = document.getElementById('drug-options').value
    fetch('/pharmacy/fetch_all_orders_data/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ page: page, status: status,extra_status:extra_status, startDate: startDate, endDate: endDate, search_value:search_value, doctor:doctor, drugs:drugs })
    })
      .then((response) => response.json())
      .then((data) => {
        var parsedData = data.data
        console.log("I have the data")

        parsedData = parsedData.map(item => {
        if (item['Drug Info']) {
            // Get the values of the 'Drug Info' object and join them into a string
            var drugInfo = item['Drug Info'].map((drug) => `- ${drug.drug}, ${drug.quantity}`).join(' ')
            item['Drug Info'] = drugInfo;
        }
        return item;
        });

        
        // Convert JSON data to CSV
        var csv = Papa.unparse(parsedData);

        // Get the current date
        var date = new Date();
        // Format the date as a string in the format YYYY-MM-DD
        var dateString = date.getFullYear() + '-' + (date.getMonth() + 1).toString().padStart(2, '0') + '-' + date.getDate().toString().padStart(2, '0');
        // Set the filename to "5Axix-" followed by the current date
        var download_filename = "5Axis-" +orderStatus+"-"+ dateString + ".csv";

        // Create a downloadable link
        var csvBlob = new Blob([csv], {type: "text/csv"});
        var url = URL.createObjectURL(csvBlob);
        var downloadLink = document.createElement("a");
        downloadLink.href = url;
        downloadLink.download = download_filename;
        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink);

        
        spinner.style.display = 'none'; // Hide the spinner
      })
  }
  </script>


  <script>
    // Add event listeners to the pagination buttons
    document.getElementById('prevPage').addEventListener('click', function () {
    if (currentPage > 1) {
        currentPage--;
        fetchAllOrdersData();
    } else if (currentPage == 1) {
        alert('You are on the first page');
        return;
    }
    })
    
    document.getElementById('nextPage').addEventListener('click', function () {
      if (currentPage + 1 > max_pages) {
        alert('You are on the last page');
        return
      }
      currentPage++
      fetchAllOrdersData()
    })
  </script>
{% endblock %}
