<nav class="bg-secondary sidebar">
  <div class="sidebar">
    <ul class="nav flex-column">
      {% if request.session.role == 'super_admin' or request.session.integrated_label is True %}
      <li class="nav-item">
        <div class="nav-link">
           <label for="pharmacist-select">PIC:</label>
          <select style="margin: 0px 5px 5px; border-radius: 5px;" 
          id="pharmacist-select" onchange="setSessionPIC()">
          </select>

        </div>
      </li>
      {% endif %}
      <p id="session_pharmacist" style="display: none;" value="{{request.session.pharmacist}}"></p>
      <li class="nav-item">
        <a class="nav-link" href={% url 'home' %}>Home</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href={% url 'refills' %}>Refills<span id="refills_count"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'orders' %}>Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'priority_orders' %}>-Priority Orders<span id="priority_orders_count"></span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href={% url 'address_validation_orders' %}>-Validate Address Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'to_be_fill_orders' %}>-New Orders<span id="to_be_fill_orders_count"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'filled_orders' %}>-Order Verified<span id="filled_orders_count"></span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href={% url 'label_created' %}>-Label Printed<span id="label_created_count"></span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href={% url 'order_shipped' %}>-Order Shipped<span id="order_shipped_count"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'issue_in_shipping_orders' %}>-Issue in Shipping<span id="issue_in_shipping_orders_count"></span></a>
      </li>
     

      <li class="nav-item">
        <a class="nav-link" href={% url 'cancel_orders' %}>-Cancelled Orders<span id="cancel_orders_count"></span></a>
      </li>

      
      <li class="nav-item">
        <a class="nav-link" href={% url 'completed_orders' %}>-Completed Orders<span id="completed_orders_count"></span></a>
      </li>

      
      

      {% if request.session.role == 'super_admin' %}

      <li class="nav-item has-submenu expanded">
        <a class="nav-link" href="#">
          Management {% include "icons/chevron-left-icon.html" %}
        </a>
        <ul class="submenu show">
          <li>
            <a class="nav-link" href={% url 'pharmacy_management' %}>
              Pharmacy Management
            </a>
          </li>

          <li>
            <a class="nav-link" href={% url 'user_management' %}>
              Users Management 
            </a>
          </li>
        </ul>
      </li>
      {% endif %}

      {% if request.session.role == 'super_admin' or request.session.bulk_fill or request.session.bulk_ship %}

      <li class="nav-item has-submenu expanded">
        <a class="nav-link" href="#">
          Bulk Actions {% include "icons/chevron-left-icon.html" %}
        </a>
        <ul class="submenu show">
          
          {% if request.session.role == 'super_admin' or request.session.bulk_fill %}
          <li>
            <a class="nav-link" href={% url 'show_bulk_fill_orders' %}>
              Bulk Fill
            </a>
          </li>
          {% endif %}

          {% if request.session.role == 'super_admin' or request.session.bulk_ship %}
          <li>
            <a class="nav-link" href={% url 'show_bulk_ship_orders' %}>
              Bulk Ship
            </a>
          </li>
          {% endif %}
        </ul>
      </li>
      {% endif %}



    </ul>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".sidebar .nav-link").forEach(function (element) {
      element.addEventListener("click", function (e) {
        let nextEl = element.nextElementSibling;
        let parentEl = element.parentElement;

        if (nextEl) {
          e.preventDefault();
          let mycollapse = new bootstrap.Collapse(nextEl);

          console.log('parentEl: ', parentEl)
          element.classList.toggle("list-collapsed");
          parentEl.classList.toggle('expanded')
          if (nextEl.classList.contains("show")) {
            mycollapse.hide();
            //parentEl.classList.remove('expanded')
          } else {
            mycollapse.show();
            //parentEl.classList.add('expanded')

            var opened_submenu = parentEl.parentElement.querySelector(".submenu.show");
            if (opened_submenu) {
              new bootstrap.Collapse(opened_submenu);
            }
          }
        }
      }); // addEventListener
    }); // forEach
  });
</script>


<script>
  document.addEventListener("DOMContentLoaded", function (){
    // Fetch order count from your server
    fetch('/pharmacy/fetch_all_order_status_count/')
      .then((response) => response.json())
      .then((data) => {
        data.forEach(item => {
          //console.log('Status: ' + item._id + ', Count: ' + item.count);

          if(item._id == 'TO_BE_FILLED'){
            document.getElementById('to_be_fill_orders_count').innerHTML = ' (' + item.count + ')'
          }

          if(item._id == 'COMPLETE_FILLED'){
            document.getElementById('filled_orders_count').innerHTML = ' (' + item.count + ')'
          }

          if(item._id == 'LABEL_CREATED'){
            document.getElementById('label_created_count').innerHTML = ' (' + item.count + ')'
          }

          if(item._id == 'IN_SHIPPING'){
            document.getElementById('order_shipped_count').innerHTML = ' (' + item.count + ')'
          }

          if(item._id == 'ISSUE_IN_SHIPPING'){
            document.getElementById('issue_in_shipping_orders_count').innerHTML = ' (' + item.count + ')'
          }

          if(item._id == 'CANCELLED'){
            document.getElementById('cancel_orders_count').innerHTML = ' (' + item.count + ')'
          }

          if(item._id == 'COMPLETED'){
            document.getElementById('completed_orders_count').innerHTML = ' (' + item.count + ')'
          }



        });
      });

      fetchAllPharmacists();
  });
</script>

<script>
  function fetchAllPharmacists() {
      var select = document.getElementById('pharmacist-select');
      session_pic = document.getElementById('session_pharmacist').getAttribute('value');
      if (select === undefined || select === null) {
          return;
      }

      fetch('/pharmacy/fetch_all_pharmacists/')
          .then((response) => response.json())
          .then((result) => {
              console.log(result);
              if (result) {
                result.data.forEach(function (pharmacist) {
                    var option = document.createElement('option');
                    option.value = pharmacist.pharmacistId;
                    option.text = pharmacist.name;
                    select.add(option);
                    if(Number(option.value) === Number(session_pic)){
                      option.selected = true;
                    }

                });

                // If only one pharmacist is returned, automatically select it and call setSessionPIC
                if (result.data.length === 1) {
                  select.value = result.data[0].pharmacistId;
                  setSessionPIC();
                }


              }
          });
  }
</script>

<script>
  function setSessionPIC() {
    
    const select = document.getElementById('pharmacist-select');
    if (select === undefined || select === null) {
        return;
    }
    
    const pharmacistId = select.value;
    console.log('pharmacistId: ', pharmacistId);
    fetch('/pharmacy/update_session_pharmacist/', {
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        method: "POST",
        body: JSON.stringify({'pharmacist_id': pharmacistId})
      });

  }
</script>

<style>
  @keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }

  .blink {
    animation: blink 2s linear infinite;
  }
</style>
<!--Refills due count-->
<script>
  document.addEventListener("DOMContentLoaded", function (){
    // Fetch refill due order count from your server
    fetch('/pharmacy/fetch_refill_due_count/')
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
        var count = data;
        if(count > 0){
          document.getElementById('refills_count').innerHTML = ' ' + count + ' Refills Due Today';
          document.getElementById('refills_count').style.color = 'red';
          document.getElementById('refills_count').style.fontSize = 'small';
          document.getElementById('refills_count').classList.add('blink');


        }
      });
  });
</script>