{% extends 'base.html' %}

{% block title %}
  Orders - MDExam
{% endblock %}

{% block content %}
    <h1>MD-EXAM Pharmacy Management</h1>
    <table id="ordersTable" class="mytable">
        <!-- Table content goes here -->
    </table>

<script>
    
    window.onload = function() {

        fetchAllPharmacyData();
    }
    
    function fetchAllPharmacyData() {

    fetch('/management/fetch_all_pharmacy_data/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({}),
    })
    .then(response => response.text())
    .then(data => {
        var parsedData = JSON.parse(data);

     // Create a table
        var table = document.getElementById('ordersTable');

        // Create table header row
        var thead = document.createElement('thead');
        var headerRow = document.createElement('tr');

        // Get keys from the first object in the data array
        var keys = Object.keys(parsedData[0]);

        // Create a table header for each key
        keys.forEach(key => {
            var th = document.createElement('th');
            th.textContent = key;
            headerRow.appendChild(th);
        });

        thead.appendChild(headerRow);
        table.appendChild(thead);

        // Create table body
        var tbody = document.createElement('tbody');

        // Create a table row for each object in the data array
        parsedData.forEach(item => {
            var row = document.createElement('tr');

            // Create a table cell for each value in the object
            keys.forEach(key => {
                var cell = document.createElement('td');
                cell.textContent = item[key];
                row.appendChild(cell);
            });

            tbody.appendChild(row);
        });

        table.appendChild(tbody);

        // Append the table to the body (or any other container)
        document.body.appendChild(table);
    });
        
    }
</script>

{% endblock %}